@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}


.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    transition: border 0.3s ease-in-out;
  }
  
  .input-field:focus {
    border-color: #007bff;
  }
  